<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>회원 정보</title>
    <meta charset="UTF-8">

    <!-- individual CSS -->
    <th:block layout:fragment="css">
        <link th:href="@{/css/sidebars.css}" rel="stylesheet">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">

        <style>
            #content {
                min-height: 90vh;
            }

            .fieldError {
                color: #f00;
            }
        </style>
    </th:block>
    <!-- individual CSS -->

</head>

<div layout:fragment="content" id="content">
    <div class="container-fluid">
        <div class="row min-vh-100 d-flex align-items-center justify-content-center">
            <div class="bg-white" style="min-height: 80vh;">
                <div class="container d-flex justify-content-center">
                    <div class="d-flex justify-content-center">
                        <div class="g-5 d-flex justify-content-center">
                            <div class="col-md-7 col-lg-6">
                                <h4 class="mb-3">회원 정보</h4>
                                    <input type="hidden" class="form-control" id="userId" name="userId" >
                                    <input type="hidden" class="form-control" id="userDetailId" name="userDetailId">
                                    <input type="hidden" class="form-control" id="userAccount" name="userAccount">
                                    <input type="hidden" class="form-control" id="userPassword" name="userPassword">
                                    <input type="hidden" class="form-control" id="lastName" name="lastName">
                                    <input type="hidden" class="form-control" id="address1" name="address1">
                                    <input type="hidden" class="form-control" id="address2" name="address2">

                                    <div class="row g-3">
                                        <div class="row-sm-6">
                                            이메일: <p id="email">
                                        </div>
                                        <div class="row-sm-6">
                                            닉네임: <p id="nickName">
                                        </div>
                                        <div class="row-sm-6">
                                            이름: <p id="name">
                                        </div>
                                        <div class="row-sm-6">
                                            생년월일: <p id="birthDate">
                                        </div>
                                        <div class="form-radio">
                                            성별: <p id="gender"></p>
                                        </div>
                                        <div class="row-sm-6">
                                            <label th:for="zipcode" class="form-label">우편번호</label>
                                            <input type="text" class="form-control" name="zipcode" id="zipcode" readonly>
                                            <label th:for="address" class="form-label">주소</label>
                                            <input type="text" class="form-control" name="address" id="address" readonly>
                                        </div>
                                        <div class="row-sm-6">
                                            <label th:for="mobileNumber" class="form-label">휴대폰번호</label>
                                            <p id="mobileNumber">
                                        </div>

                                        <div>
                                            <button class="w-100 btn btn-dark btn-lg mx-auto" name="modifyBtn" id="modifyBtn" type="button" style="display: block;">정보수정</button>
                                        </div>
                                    </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/users/user-get.js}"></script>
</th:block>

</html>